

#root {
  display: block;
}
#reviews {
  display: inline-block;
  float: left;
  width: 75%;
}

#info {
  display: inline-block;
  float: right;
  width: 20%;
  
}

#alsoViewed {
  display: inline-block;
  float: right;
  width: 20%;
}

* {
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}
